# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDE
.vscode/
.idea/

# Data and Databases
*.csv
*.sqlite3
chroma_db/
reviewdata/

# Frontend
node_modules/
.next/
dist/
build/
